.code_body {
  height: 100%;
  text-align: center;
}
.a_problems {
  height: 100%;
  text-align: center;
}
.pointer__none {
  pointer-events: none;
  display: flex;
}
.activeClass {
  color: aquamarine;
}
.card__body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}