.code_body {
    height: 100%;
    text-align: center;
    font-family: cursive;
}

.a_problems, .b_problems, .c_problems, .d_problems, .e_problems {
    height: 100%;
    text-align: center;
    margin-top: 5rem;
}

.search_bar {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.handle_btn {
    background-image: linear-gradient(to right,rgb(21, 150, 133), rgb(22, 96, 105));
    color: white !important;
}

.mb-3 {
    width: 30% !important;
}

.bs {
    height: 45%;
    width: 100%;
}

.dp {
    height: 45%;
    width: 100%;
}

.graph {
    height: 45%;
    width: 100%;
}

.pointer__none {
    pointer-events: none;
    display: flex;
}

.activeClass {
    color: aquamarine;
}

.card__body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar-links {
    width: 60%;
}

.user_info {
    width: 30%;
    margin-right: 2rem;
    text-align: right;
    color: wheat;
}

.card_text {
    height: 80%;
}

.code_table {
    margin-left: 10%;
    width: 80%;
}

.handle_textbox {
  display: inline-flex !important;
  width: 15rem !important;
  margin-left: 1rem;
}

.color-nav {
    background-color:rgb(120, 174, 45);
    font-weight: bold;
}

.custom {
    background-color: #7caf3c !important;
}

.navlink, #nav-dropdown {
    color: white !important;
}